In [1]:
country_info = {"name": "India","capital": "delhi"}
print(country_info)

{'name': 'India', 'capital': 'delhi'}

In [2]:
country_info = {"name": "India","capital": "delhi"}
print(country_info["name"])

India

In [3]:
country_info = {"name": "India","capital": "delhi"}
print(country_info["capital"])

delhi

In [4]:
country_info = {"name": "Japan","capital": "tokyo"}
print(country_info)

{'name': 'Japan', 'capital': 'tokyo'}

In [5]:
country_info = {"name": "Japan","capital": "tokyo"}
print(country_info)
print(country_info["name"])
print(country_info["capital"])

{'name': 'Japan', 'capital': 'tokyo'}
Japan
tokyo

In [7]:
country_info["population"]='139.67M'
print(country_info)

{'name': 'Japan', 'capital': 'tokyo', 'population': '139.67M'}

In [8]:
country_info["region"]=['Hokkakido','Tohoko','Kanto','Chubu','Kinki','Chugoku']
print(country_info)

{'name': 'Japan', 'capital': 'tokyo', 'population': '139.67M', 'region': ['Hokkakido', 'Tohoko', 'Kanto', 'Chubu', 'Kinki', 'Chugoku']}

In [9]:
x=5
y=23

In [10]:
print("addition,x(5)+y(25)="),x+y

addition,x(5)+y(25)=

(None, 28)

In [12]:
print("substraction,x(5)-y(25)="),x-print("addition,x(5)+y(25)="),x+yy

substraction,x(5)-y(25)=

(None, -18)

In [13]:
print("multiplication,x(5)*y(25)="),x*y

multiplication,x(5)*y(25)=

(None, 115)

In [14]:
print("division,x(5)/y(25)="),x//y

division,x(5)/y(25)=

(None, 0)

In [15]:
print("division,x(5)/y(25)="),x/y

division,x(5)/y(25)=

(None, 0.21739130434782608)

In [17]:

if x<10:
    print("less than 10")
else:
    print("over 10")

ove=r 10

In [18]:
x=1
if x<10:
    print("less than 10")
else:
    print("ove=r 10")

less than 10

In [19]:
x=29
if x<10:
    print("less than 10")
elif x>10 and x<=19:
    print(">10 but <20")
else:
    print("over 20")

over 20

In [20]:
a = True
if a:
    print("statement was true")
else:
    print("statement was false")

statement was true

In [21]:
a = False
if a:
    print("statement was true")
else:
    print("statement was false")

statement was false

In [22]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [23]:
print(list(range(1,5)))

[1, 2, 3, 4]

In [24]:
print(list(range(0,4)))

[0, 1, 2, 3]

In [25]:
for i in range (0,5) :
    print(i)

0
1
2
3
4

In [27]:
items = ['a','b','c','d']
for item in items:
    print(item)

a
b
c
d

In [28]:
x=0
while x<5:
    x+=1
    print(x)

1
2
3
4
5

In [29]:
x=0
while True:
    if x==5:
        break
    x+=1
    print(x)

1
2
3
4
5

In [30]:
def area_circle (r):
    area=3.14*(r**2)
    return area
area_circle(4)

50.24

In [31]:
area_circlr(4.468)

NameError: name 'area_circlr' is not defined

In [32]:
area_circle(4.468)

62.68389536000001

In [35]:
def volumecyclinder(radius,height):
    volume=3.14*(radius**2)*height
    return volume

In [36]:
volumecyclinder(5,6)

471.0

In [37]:
volumecyclinder(radius=15,height=56)

39564.0